<mat-toolbar>
    <button mat-mini-fab (click)="addItem()" class="mr-3">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab (click)="cleanDashboard()" class="mr-3">
        <mat-icon>delete_sweep</mat-icon>
    </button>
</mat-toolbar>

<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items">
        <ng-container appDynamicComponent [component]="item.component" [inputs]="{card: item}" [outputs]="widgetEvents"></ng-container>
    </gridster-item>
</gridster>